services:
  chatterbox-tts-api:
    image: chatterbox-tts-api
    build:
      context: .
    ports:
      - 127.0.0.1:${API_PORT}:${API_PORT}
    # for Docker
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    # for Podman
    devices:
      - nvidia.com/gpu=all
    environment:
      - API_PORT=${API_PORT-5001}
      - API_HOST=${API_HOST-0.0.0.0}
      - AUDIO_EXAGGERATION=${AUDIO_EXAGGERATION}
      - AUDIO_TEMPERATURE=${AUDIO_TEMPERATURE}
      - AUDIO_CFG_WEIGHT=${AUDIO_CFG_WEIGHT}
      - CORS_ALLOWED_ORIGIN=${CORS_ALLOWED_ORIGIN}
      - MODEL=${MODEL}
      - SEED=${SEED}
      - SUPPORTED_VOICES=${SUPPORTED_VOICES}
      - VOICES_DIR=${VOICES_DIR}
      - HF_HOME=/root/.cache/huggingface
      - WEB_PORT=${WEB_PORT-8080}
    volumes:
      - ./voices:/app/voices
      - ${HF_HOME:-~/.cache/huggingface}:/root/.cache/huggingface
  chatterbox-tts-web:
    image: nginx:latest
    ports:
      - "127.0.0.1:${WEB_PORT}:80"
    volumes:
     - ./public/index.html:/usr/share/nginx/html/index.html